body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.content {
    padding: 20px;
}

.rectangle {
    position: absolute;
    border-radius: 24px;
    border-style: solid;
    border-color: #6A58FF;
    align-items: center;
    justify-content: center;

}

.head_sng {
    bottom: 2%;
    left: 8%;
    width: 84%;
}

.head_sng ul {
    list-style: none;
    display: flex;
}

.footer {
    background-color: #fff;
    color: #fff;
    position: fixed;
    bottom: 2%;
    left: 8%;
    width: 84%;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer li {
    padding: 10px 20px;
    /* 구분선 추가 */
}

.footer li:last-child {
    border-right: none;
    /* 마지막 메뉴 항목에는 구분선을 표시하지 않음 */
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer a:hover {
    text-decoration: underline;
}

#menubar ul li {
    padding: 6px 8.5%;
}

#menubar ul {
    margin: 0;
    padding: 0;
}

/* table */

td {
    border: 1px solid black;
}


/* iframe.html */

/* 슬라이더 컨테이너 스타일링 */
.slider-container {
    width: 100%;
    /* <iframe>의 너비에 맞추기 위해 100%로 설정 */
    overflow: hidden;
}

/* 이미지 슬라이더 스타일링 */
.slider {
    display: flex;
    transition: transform 0.5s ease;
    /* 이미지가 슬라이드되는 속도를 원하는 대로 조정하세요 */
}

/* 슬라이더 이미지 스타일링 */
.slider img {
    width: 100%;
    /* 이미지가 <iframe>의 너비에 맞게 자동 조절되도록 100%로 설정 */
    height: auto;
    /* 이미지의 세로 크기를 자동으로 조절하여 비율을 유지 */
}

div.books img {
    width: 100%;
    height: auto;
}


.slider-container1 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.books {
    display: flex;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out;
}

.fixed {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 60%;
}
