body, html {
    height: 100%;
    margin: 0;
}

.bora {
    font-size: 4px;
    border: 1px solid #6A58FF;
    border-radius: 30px;
    padding: 8px;
    float: left;
    margin: 7px;
}

td img {
    width: 100%;
}
