<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="Real3.0/main/resources/static/css/singup.css">
</head>
<body style="background-color: #5F4DFF;font-family: 'Pretendard-Regular';">
<a href="start.html">
    <img src="/Real3.0/src/main/resources/static/image/🦆 icon _play_.png" class="back" style="margin-left: 60px; margin-top: 80px; width: 20px; height: 20px">
</a>
  
  <br><br><br>
<h2 style="font-family: 'Pretendard-Regular';text-align: center; color: white;">회원가입</h2>
<br><br><br>
<form name="fo" method="get">
  <input class="box" type="text" size="30" value="" placeholder="  이름"><br>
  <input class="box" type="text" size="30" value="" placeholder="  아이디"><br>
  <input class="box" type="password" size="30" value="" placeholder="  비밀번호"><br>
  <input class="box" type="text" placeholder="  xxxx.yy.zz"><br>
  <select class="box" name="sex" aria-placeholder="  성별">
    <option value="male">male</option>
    <option value="female">female</option>
  </select><br><br><br>
  <input style="text-align: center; background-color: greenyellow; font-weight: bold;" class="box" type="submit" value="가입">
</form>
</body>
</html>

