<!DOCTYPE html>
<html lang="ko">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/Real3.0/src/main/resources/static/css/page.css">
        <link rel="stylesheet" type="text/css" href="/Real3.0/src/main/resources/static/css/main.css">
        <title>page</title>
</head>

<body style="background-color: #5F4DFF;font-family: 'Pretendard-Regular';">
        <div>
                <a href="#" class="link">
                        <img src="Real3.0/src/main/resources/static/image/🦆 icon _play_ 2.png" class="back"
                                style="margin-left: 60px; margin-top: 80px; width: 20px; height: 20px">
                </a>
                <h3 style="color: #BDFF00;">PAGE</h3>

        </div>
        <br><br>
        <h4 style="margin-left: 10%; color: white;">최근열람</h4>
        <a href="Real3.0/src/main/resources/static/pdf/compressed.tracemonkey-pldi-09.pdf"><img
                        src="Real3.0/src/main/resources/static/image/226 1.png" width="170px" height="150px"></a>
        <a href="Real3.0/src/main/resources/static/pdf/compressed.tracemonkey-pldi-09.pdf"><img
                        src="Real3.0/src/main/resources/static/image/228 1.png" width="180px" height="150px"></a>
        <a href="Real3.0/src/main/resources/static/pdf/compressed.tracemonkey-pldi-09.pdf"><img
                        src="Real3.0/src/main/resources/static/image/1235.png" width="180px" height="150px"></a><br><br>
        <hr style="border: none; height: 6px; box-shadow: 0 2px 4px gray;margin-left: 15px; margin-right: 15px;">
        <br><br>
        <a href="Real3.0/src/main/resources/static/pdf/compressed.tracemonkey-pldi-09.pdf"><img
                        src="Real3.0/src/main/resources/static/image/sddv-2.png" width="170px" height="150px"></a>
        <a href="Real3.0/src/main/resources/static/pdf/compressed.tracemonkey-pldi-09.pdf"><img
                        src="Real3.0/src/main/resources/static/image/226 1.png" width="180px" height="150px"></a>
        <a href="Real3.0/src/main/resources/static/pdf/compressed.tracemonkey-pldi-09.pdf"><img
                        src="Real3.0/src/main/resources/static/image/228 1.png" width="180px" height="150px"></a>
        <hr style="border: none; height: 6px; box-shadow: 0 2px 4px gray;margin-left: 15px; margin-right: 15px;">


        <!-- 하단 메뉴바 -->
        <div class="footer rectangle" id="menubar" style="position:fixed ;">
                <ul>
                        <li>
                                <a href="/Real3.0/src/main/resources/templates/main_form/main_view.html"><img
                                                src="/Real3.0/src/main/resources/static/image/menubar/die/home_die.svg" /></a>
                        </li>
                        <li>
                                <a href="/Real3.0/src/main/resources/templates/seed_form/p_market.html"><img
                                                src="/Real3.0/src/main/resources/static/image/menubar/die/seed_die.svg" /></a>
                        </li>
                        <li>
                                <a href="/Real3.0/src/main/resources/templates/page_form/page.html"><img
                                                src="/Real3.0/src/main/resources/static/image/menubar/active/bookmark_acti.svg" /></a>
                        </li>
                        <li>
                                <a href="/Real3.0/src/main/resources/templates/mypage/mypage.html"><img
                                                src="/Real3.0/src/main/resources/static/image/menubar/die/person_die.svg" /></a>
                        </li>
                </ul>
        </div>
</body>