<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <img src="1.jpg" alt="HI" width="30px" style="margin-left: 5%;">
    <img src="1.jpg" alt="" style="margin-left: 65%;" width="30px">
    <img src="1.jpg" alt="돋보기" width="30px">
    <hr style="margin-left: 5%; margin-right: 5%;">

    <br>
    <form name="find" method="get">
        <input type="text" size="15" value="" placeholder="검색어를 입력하세요." style="width: 70%; align: center;">
    </form>

</body>

</html>