<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <style>
        /* 슬라이더 컨테이너 스타일링 */
        .slider-container {
            width: 100%;
            /* <iframe>의 너비에 맞추기 위해 100%로 설정 */
            overflow: hidden;
        }

        /* 이미지 슬라이더 스타일링 */
        .slider {
            display: flex;
            transition: transform 0.5s ease;
            /* 이미지가 슬라이드되는 속도를 원하는 대로 조정하세요 */
        }

        /* 슬라이더 이미지 스타일링 */
        .slider img {
            width: 100%;
            /* 이미지가 <iframe>의 너비에 맞게 자동 조절되도록 100%로 설정 */
            height: auto;
            /* 이미지의 세로 크기를 자동으로 조절하여 비율을 유지 */
        }
    </style>

    <title>Document</title>
</head>

<body>
    <!--상단배경-->
    <div class="upbackground">
        <img src="../../static/image/return_icon.png" alt="로고" width="30px" style="margin-left: 1%;">
        <img src="../../static/image/search_icon.png" alt="검색" style="margin-left: 75%;" width="30px">
        <img src="../../static/image/bell_icon.png" alt="알림" width="30px">
    </div>

    <!--하단배경-->
    <div class="downground">
        <div style="margin-left: 10%;">
            <h2>#MOOD</h2>
            <table>
                <tr>
                    <td>
                        <img src="../../static/image/1.jpg" width="auto" height="80">
                    </td>
                    <td>
                        <img src="../../static/image/1.jpg" width="auto" height="80">
                    </td>
                    <td>
                        <img src="../../static/image/1.jpg" width="auto" height="80">

                    </td>
                    <td>
                        <img src="../../static/image/1.jpg" width="auto" height="80">

                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../../static/image/1.jpg" width="auto" height="80">

                    </td>
                    <td>
                        <img src="../../static/image/1.jpg" width="auto" height="80">

                    </td>
                </tr>
            </table>
        </div>

        <br><br>


        <div>
            <h2 style="margin-left: 10%;">오늘의 추천</h2>
        </div>

        <!--책들 드래그-->
        <div class="fixed" style="position: absolute; background-color: #BDFF00;"></div>
        <div>
            <div class="slider-container1">
                <div class="books" style="height: 430px; margin: 10%;">
                    <img src="../../static/image/seok1.png">
                    <img src="../../static/image/seok2.png">
                    <img src="../../static/image/seok3.png">

                </div>
            </div>
        </div>


        <!-- 하단 메뉴바 -->
        <div class="footer rectangle" id="menubar">
            <ul>
                <li>
                    <a href="/Real3.0/src/main/resources/templates/main_form/main_view.html"><img
                            src="/Real3.0/src/main/resources/static/image/menubar/active/home_acti.svg" /></a>
                </li>
                <li>
                    <a href="/Real3.0/src/main/resources/templates/seed_form/p_market.html"><img
                            src="/Real3.0/src/main/resources/static/image/menubar/die/seed_die.svg" /></a>
                </li>
                <li>
                    <a href="/Real3.0/src/main/resources/templates/page_form/page.html"><img
                            src="/Real3.0/src/main/resources/static/image/menubar/die/bookmark_die.svg" /></a>
                </li>
                <li>
                    <a href="/Real3.0/src/main/resources/templates/"><img
                            src="/Real3.0/src/main/resources/static/image/menubar/die/person_die.svg" /></a>
                </li>
            </ul>
        </div>


</body>

</html>