<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <style>
        /* 슬라이더 컨테이너 스타일링 */
        .slider-container {
            width: 100%;
            /* <iframe>의 너비에 맞추기 위해 100%로 설정 */
            overflow: hidden;
        }

        /* 이미지 슬라이더 스타일링 */
        .slider {
            display: flex;
            transition: transform 0.5s ease;
            /* 이미지가 슬라이드되는 속도를 원하는 대로 조정하세요 */
        }

        /* 슬라이더 이미지 스타일링 */
        .slider img {
            width: 100%;
            /* 이미지가 <iframe>의 너비에 맞게 자동 조절되도록 100%로 설정 */
            height: auto;
            /* 이미지의 세로 크기를 자동으로 조절하여 비율을 유지 */
        }
    </style>

    <title>Document</title>
</head>

<body>
    <!--상단배경-->
    <div class="upbackground">
        <img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/71cca7e0-963e-4d77-b459-4dad69ef0201" alt="로고" width="30px" style="margin-left: 1%;">
        <img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/eee4b675-1601-427b-971d-154d20197717" alt="검색" style="margin-left: 75%;" width="30px">
        <img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/1aabad2b-ba94-451e-8b74-df8a76d33428" alt="알림" width="30px">
    </div>

    <!--하단배경-->
    <div class="downground">
        <div>
            <div style="padding-top: 40%; padding-left: 10%;">
                <h3>#MOOD</h3>
            </div>
            <table>
                <tr>
                    <td>
                        <img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/435a0741-e0d5-4c90-af2f-0375acd3056e" width="auto" height="80">
                    </td>
                    <td>
                        <img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/435a0741-e0d5-4c90-af2f-0375acd3056e" width="auto" height="80">
                    </td>
                    <td>
                       <img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/435a0741-e0d5-4c90-af2f-0375acd3056e" width="auto" height="80">
    
                    </td>
                    <td>
                        <img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/435a0741-e0d5-4c90-af2f-0375acd3056e" width="auto" height="80">
    
                    </td>
                </tr>
                <tr>
                    <td>
                         <img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/435a0741-e0d5-4c90-af2f-0375acd3056e" width="auto" height="80">
    
                    </td>
                    <td>
                        <img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/435a0741-e0d5-4c90-af2f-0375acd3056e" width="auto" height="80">

                    </td>
                </tr>
            </table>
        </div>

        <br><br>


        <div>
            <h2 style="margin-left: 10%;">오늘의 추천</h2>
        </div>

        <!--책들 드래그-->
        <div class="fixed" style="position: absolute; background-color: #BDFF00;"></div>
        <div>
            <div class="slider-container1">
                <div class="books" style="height: 430px; margin: 10%;">
                    <img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/1dc4bd3e-21c8-41e8-a398-7228e6514ec0">
                    <img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/fa5b8c99-1c19-4945-9ebd-10d5f2f7653d">
                    <img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/5d0aa77d-5305-42af-aa39-b04b690be88a">

                </div>
            </div>
        </div>


        <!-- 하단 메뉴바 -->
        <div class="footer rectangle" id="menubar">
            <ul>
                <li>
                    <a href="/home"><img
                            src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/aefe60f8-fa0f-460d-94fa-76ab6b5642c4" /></a>
                </li>
                <li>
                    <a href="/market"><img
                            src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/3014d0a6-d1ed-4558-ad01-e2c8682dacb2" /></a>
                </li>
                <li>
                    <a href="/page"><img
                            src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/b5ac60d6-3d41-4528-aa43-5d0437889b7c" /></a>
                </li>
                <li>
                    <a href="/Real3.0/src/main/resources/templates/"><img
                            src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/a53e3483-3307-4181-9069-622280b0cf78" /></a>
                </li>
            </ul>
        </div>
     
</body>

</html>