<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/search.css">
    <title>Document</title>
</head>
<body>
    <div class="highbar">
        <a href="main_view.html"><img src="../../static/image/icon_book_black.png" alt="로고" width="7%" style="margin-left: 5%; margin-top: 5%;"></a>
        <a href="search_view.html"><img src="../../staticz/image/icon_search_black.png" alt="검색" width="6%" style="margin-left: 60%;" width="30px"></a>
        <img style="margin-left: 3%;" src="../../static/image/icon_bell_black.png" alt="알림" width="5.5%">
    </div>
    <hr>
    <div class="textarea">
        <div style="text-align: center; padding-top: 30px;">
            <form method="get">
                <div style="background-color:  #BDFF00; width: 85%; height:10%; margin-left: 7%;">
                    <input class="box" type="text" size="30" value="" 
                    placeholder="검색어를 입력하세요." style="width: 80%; height: 40px; position: relative; background-color:  #BDFF00; border: 0;">
                    <input type="image" src="../../static/image/icon_search_black.png" alt="검색" width="6%" style="position: absolute; margin-right: 50px; margin-top: 10px;">
                </div>
            </form>
        </div>
    </div>

    <div class="recommand" style="margin: 30px; height: 20%;">
        <div><h3><strong>추천 검색어</strong></h3></div>
        <div>
            <div class="bora">김하양 작가의 신작 - 봄날처럼 우리</div>
            <div class="bora" style="background-color: #6A58FF; color: white;">브레멘과 음악단</div>
            <div class="bora" style="background-color: #6A58FF; color: white;">우리 손 잡을까요</div>
            <div class="bora">동경과 거짓말, 그 후 4</div>
        </div>
    </div>
    <div class="ranking" style="margin: 30px;">
        <div><h3><strong>이달의 순위</strong></h3></div>
        <table>
            <tr>
                <td>
                    <img src="../../static/image/album.png">
                </td>
                <td>
                    <img src="../../static/image/album1.png">
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../../static/image/album2.png">
                </td>
                <td>
                    <img src="../../static/image/album3.png">
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../../static/image/album4.png">
                </td>
                <td>
                    <img src="../../static/image/album5.png">
                </td>
            </tr>
        </table>
    </div>

    <!-- 하단 메뉴바 -->
    <div class="footer rectangle" id="menubar">
        <ul>
            <li>
                <a href="/Real3.0/src/main/resources/templates/main_form/main_view.html"><img
                        src="/Real3.0/src/main/resources/static/image/menubar/active/home_acti.svg" /></a>
            </li>
            <li>
                <a href="/Real3.0/src/main/resources/templates/seed_form/p_market.html"><img
                        src="/Real3.0/src/main/resources/static/image/menubar/die/seed_die.svg" /></a>
            </li>
            <li>
                <a href="/Real3.0/src/main/resources/templates/page_form/page.html"><img
                        src="/Real3.0/src/main/resources/static/image/menubar/die/bookmark_die.svg" /></a>
            </li>
            <li>
                <a href="/Real3.0/src/main/resources/templates/"><img
                        src="/Real3.0/src/main/resources/static/image/menubar/die/person_die.svg" /></a>
            </li>
        </ul>
    </div>
</body>
</html>