<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/search.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <title>Document</title>
</head>
<body>
    <div class="highbar">
        <a href="/home"><img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/4feb1637-8282-4be6-b26d-85cd877a59ad" alt="로고" width="7%" style="margin-left: 5%; margin-top: 5%;"></a>
        <a href="/search"><img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/10dc6106-254e-4ee3-b7f0-a461e0e2d5e2" alt="검색" width="6%" style="margin-left: 60%;"></a>
        <img style="margin-left: 3%;" src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/2bfe3f01-c724-41a6-bb6b-e86a75ba018c" alt="알림" width="5.5%">
    </div>
    <hr>
    <div class="textarea">
        <div style="text-align: center; padding-top: 30px;">
            <form method="get">
                <div style="background-color:  #BDFF00; width: 85%; height:10%; margin-left: 7%;">
                    <input class="box" type="text" size="30" value="" 
                    placeholder="검색어를 입력하세요." style="width: 80%; height: 40px; position: relative; background-color:  #BDFF00; border: 0;">
                    <input type="image" src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/10dc6106-254e-4ee3-b7f0-a461e0e2d5e2" alt="검색" width="6%" style="position: absolute; margin-right: 50px; margin-top: 10px;">
                </div>
            </form>
        </div>
    </div>

    <div class="recommand" style="margin: 30px; height: 20%;">
        <div><h3><strong>추천 검색어</strong></h3></div>
        <div>
            <div class="bora">김하양 작가의 신작 - 봄날처럼 우리</div>
            <div class="bora" style="background-color: #6A58FF; color: white;">브레멘과 음악단</div>
            <div class="bora" style="background-color: #6A58FF; color: white;">우리 손 잡을까요</div>
            <div class="bora">동경과 거짓말, 그 후 4</div>
        </div>
    </div>
    <div class="ranking" style="margin: 30px;">
        <div><h3><strong>이달의 순위</strong></h3></div>
        <table>
            <tr>
                <td>
                    <a href="/buy"> <img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/c2f7749d-fd72-4167-81fc-01f9284210de">
                    </a>
                </td>
                <td>
                    <img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/60a4261a-cf9e-487c-97fb-ae8e758c716a">
                </td>
            </tr>
            <tr>
                <td>
                    <img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/42f2fa45-5fcf-4dde-b3cf-aadb8274db6a">
                </td>
                <td>
                    <img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/078a54ac-7be4-47cd-b746-7017ba09fef1">
                </td>
            </tr>
            <tr>
                <td>
                    <img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/989c52b0-ed85-4318-b171-eb86a7e7f2f1">
                </td>
                <td>
                    <img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/1641daea-be0c-4b85-bada-54bb2355368c">
                </td>
            </tr>
        </table>
    </div>

    <!-- 하단 메뉴바 -->
    <div class="footer rectangle" id="menubar">
        <ul>
            <li>
                <a href="/home"><img
                        src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/79753d2a-7e99-4f46-b3fb-66304e099d1d" /></a>
            </li>
            <li>
                <a href="/bookmark"><img
                        src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/bd6a3914-1f10-486c-b188-ebfc1da288cb" /></a>
            </li>
            <li>
                <a href="/page"><img
                        src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/a7961c46-34e3-45f9-b142-a82ac25d350d" /></a>
            </li>
            <li>
                <a href="/mypage"><img
                        src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/87193aa7-5b3f-411d-8559-ea9a35abf878" /></a>
            </li>
        </ul>
    </div>
</body>
</html>