<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Real3.0/src/main/resources/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/Real3.0/src/main/resources/static/css/seeds.css">
    <title>BUY</title>
</head>

<body>
    <div>
        <a href="p_market.html"><img style="width: 15px;
            height: auto;
            margin-top: 9%;
            margin-left: 5%; margin-right: 10px;" src="/Real3.0/src/main/resources/static/image/Vector.svg" /></a>
        <img src="/Real3.0/src/main/resources/static/image/P MARKET.svg" />
    </div>

    <!-- 하단 메뉴바 -->
    <div class="footer rectangle" id="menubar">
        <ul>
            <li>
                <a href="/Real3.0/src/main/resources/templates/main_form/main_view.html"><img
                        src="/Real3.0/src/main/resources/static/image/menubar/die/home_die.svg" /></a>
            </li>
            <li>
                <a href="/Real3.0/src/main/resources/templates/seed_form/p_market.html"><img
                        src="/Real3.0/src/main/resources/static/image/menubar/active/seed_acti.svg" /></a>
            </li>
            <li>
                <a href="/Real3.0/src/main/resources/templates/page_form/page.html"><img
                        src="/Real3.0/src/main/resources/static/image/menubar/die/bookmark_die.svg" /></a>
            </li>
            <li>
                <a href="/Real3.0/src/main/resources/templates/"><img
                        src="/Real3.0/src/main/resources/static/image/menubar/die/person_die.svg" /></a>
            </li>
        </ul>
    </div>
</body>

</html>