<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>p_market</title>

    <style>
        input.img-button {
            background: url('https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/7d14622e-0c90-4141-9da9-7b89dedee1ae') no-repeat;
            border-style: none;
            width: 30px;
            height: auto;
            margin-top: 9%;
            margin-left: 5%;
        }
    </style>


</head>

<body>

    <div>
        <input type="button" class="img-button" onclick="alert('이전 페이지가 없습니다.')">
        <img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/7d622449-2375-4bb4-b77b-ea4d86d66301" />
    </div>

    <div
        style="background-color: #BDFF00; margin-left: 10%; margin-top: 10%; height: 250px; overflow-y:unset; overflow-x:scroll; white-space:nowrap;">
        <a href="/detailMark"><img style="margin-left: 10%;"
                src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/64c8c2cc-846a-447e-9909-ee72a76d624b"></a>
        <a href="/detailMark"><img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/c69a4dc5-90d2-48ad-ad5f-28d9c2fa82fd"></a>
        <a href="/detailMark"><img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/c69a4dc5-90d2-48ad-ad5f-28d9c2fa82fd"></a>
    </div>


    <div style="background-color: #BDFF00; margin-right: 10%; margin-top: 15%; height: 180px; white-space:nowrap;">
        <a href="/detailMark"><img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/ef4cb13e-7093-4eb4-98b6-294ebd4f6ef9"
                style="margin-left: 3%;"></a>
        <a href=" /detailMark"><img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/f83869b4-14e7-4535-889f-2032972d425d)
5f-28d9c2fa82fd"></a>
    </div>
    <!-- 복사본 -->




    <!-- 하단 메뉴바 -->
    <div class="footer rectangle" id="menubar" style="position:fixed ;">
        <ul>
            <li>
                <a href="/home"><img
                        src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/0f58e656-b2fe-41e7-b96e-578d26d852e8" /></a>
            </li>
            <li>
                <a href="/market"><img
                        src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/e84368fc-0468-4e79-afa0-496d42dc41f7" /></a>
            </li>
            <li>
                <a href="/page"><img
                        src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/f1490662-98c5-47ab-bb63-657a2692eb4f" /></a>
            </li>
            <li>
                <a href="/Real3.0/src/main/resources/templates/"><img
                        src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/850aa070-3f56-418f-84d8-bb9aa5a2a6a8" /></a>
            </li>
        </ul>
    </div>


</body>

</html>