<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>텍스트 입력 칸 3개</title>
</head>
<body>
<h1>텍스트 입력 칸 3개</h1>

<form th:action="@{/}" th:object="${userForm}" method="post">
    <label for="text1">텍스트 1:</label>
    <input type="text" id="text1" th:field="*{userId}" /><br />

    <label for="text2">텍스트 2:</label>
    <input type="text" id="text2" th:field="*{password}" /><br />

    <label for="text3">텍스트 3:</label>
    <input type="text" id="text3" th:field="*{name}" /><br />


    <button type="submit">로그인</button>
</form>
</body>
</html>
