<!DOCTYPE html>
<html>

<head>
    <title>하단 메뉴바 예제</title>
<!--    <link rel="stylesheet" type="text/css" href="../static/styles.css">-->
</head>

<body>

    <!--<div class="content">-->
        <!-- 웹 페이지 내용 -->
        <h1>웹 페이지 내용</h1>
        <p>여기에 웹 페이지의 내용이 들어갑니다.</p>

        <p>여기에 웹 페이지의 내용이 들어갑니다.</p>

        <p>여기에 웹 페이지의 내용이 들어갑니다.</p>
        <p>여기에 웹 페이지의 내용이 들어갑니다.</p>

        <p>여기에 웹 페이지의 내용이 들어갑니다.</p>

        <p>여기에 웹 페이지의 내용이 들어갑니다.</p>

        <p>여기에 웹 페이지의 내용이 들어갑니다.</p>

        <p>여기에 웹 페이지의 내용이 들어갑니다.</p>

        <p>여기에 웹 페이지의 내용이 들어갑니다.</p>

        <p>여기에 웹 페이지의 내용이 들어갑니다.</p>

        <p>여기에 웹 페이지의 내용이 들어갑니다.</p>
        <p>여기에 웹 페이지의 내용이 들어갑니다.</p>
        <p>여기에 웹 페이지의 내용이 들어갑니다.</p>
    </div>
<!--
    <div class="footer">
        <ul>
            <li><a href="#">메뉴1</a></li>
            <li><a href="#">메뉴2</a></li>
            <li><a href="#">메뉴3</a></li>
            <li><a href="#">메뉴4</a></li>
        </ul>
    </div>-->
    <!--<script src="script.js"></script>-->
</body>

</html>