<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Real3.0/src/main/resources/static/css/main.css">
    <title>p_market</title>

    <style>
        input.img-button {
            background: url('/Real3.0/src/main/resources/static/image/Vector.svg') no-repeat;
            border-style: none;
            width: 30px;
            height: auto;
            margin-top: 9%;
            margin-left: 5%;
        }
    </style>


</head>

<body>

    <div>
        <input type="button" class="img-button" onclick="alert('이전 페이지가 없습니다.')">
        <img src="/Real3.0/src/main/resources/static/image/P MARKET.svg" />
    </div>

    <div
        style="background-color: #BDFF00; margin-left: 10%; margin-top: 10%; height: 250px; overflow-y:unset; overflow-x:scroll; white-space:nowrap;">
        <a href="detail_mark.html"><img style="margin-left: 10%;"
                src="/Real3.0/src/main/resources/static/image/seed_main/b1.svg"></a>
        <a href="detail_mark.html"><img src="/Real3.0/src/main/resources/static/image/seed_main/b2.svg"></a>
        <a href="detail_mark.html"><img src="/Real3.0/src/main/resources/static/image/seed_main/b4.svg"
                style="margin-left: 3%;"></a>
        <a href=" detail_mark.html"><img src="/Real3.0/src/main/resources/static/image/seed_main/b5.svg"></a>
        <a href="detail_mark.html"><img src="/Real3.0/src/main/resources/static/image/seed_main/b3.svg"></a>

    </div>


    <div style="background-color: #BDFF00; margin-right: 10%; margin-top: 15%; height: 250px; white-space:nowrap;">
        <a href=" detail_mark.html"><img src="/Real3.0/src/main/resources/static/image/seed_main/l.svg"></a>
        <a href=" detail_mark.html"><img src="/Real3.0/src/main/resources/static/image/seed_main/r.svg"></a>

    </div>
    <!-- 복사본 -->




    <!-- 하단 메뉴바 -->
    <div class="footer rectangle" id="menubar" style="position:fixed ;">
        <ul>
            <li>
                <a href="/Real3.0/src/main/resources/templates/main_form/main_view.html"><img
                        src="/Real3.0/src/main/resources/static/image/menubar/die/home_die.svg" /></a>
            </li>
            <li>
                <a href="/Real3.0/src/main/resources/templates/seed_form/p_market.html"><img
                        src="/Real3.0/src/main/resources/static/image/menubar/active/seed_acti.svg" /></a>
            </li>
            <li>
                <a href="/Real3.0/src/main/resources/templates/page_form/page.html"><img
                        src="/Real3.0/src/main/resources/static/image/menubar/die/bookmark_die.svg" /></a>
            </li>
            <li>
                <a href="/Real3.0/src/main/resources/templates/mypage/mypage.html"><img
                        src="/Real3.0/src/main/resources/static/image/menubar/die/person_die.svg" /></a>
            </li>
        </ul>
    </div>


</body>

</html>