<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <title>메인 화면</title>
</head>

<body style="background-color: #7061EF;">
<div style="align-items: center; padding: 50%" >
  <img src="https://github.com/Yoongunwo/Seoul_Web3.0_Real3.0/assets/97718735/08885b83-9a6e-44fc-89e1-075d1bc5c7ea"
       style="margin-top:50%; margin-left: auto; margin-right: auto; display: block;
        width:300px; height: auto;">
</div>

<script>
  window.onpageshow = setTimeout( function moveToFirstPage(){
    window.location.href="/";
  }, 3000);
</script>
</body>
</html>